In [4]:
import pandas as pd
import numpy as np

train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [2]:
train.dtypes

id         int64
bin_0      int64
bin_1      int64
bin_2      int64
bin_3     object
bin_4     object
nom_0     object
nom_1     object
nom_2     object
nom_3     object
nom_4     object
nom_5     object
nom_6     object
nom_7     object
nom_8     object
nom_9     object
ord_0      int64
ord_1     object
ord_2     object
ord_3     object
ord_4     object
ord_5     object
day        int64
month      int64
target     int64
dtype: object

In [3]:
def encode(df) :
    df['bin_3_one']=s.fit_transform(df['bin_3'])
    df['bin_4_one']=s.fit_transform(df['bin_4'])
    df['nom_0_one']=s.fit_transform(df['nom_0'])
    df['nom_1_one']=s.fit_transform(df['nom_1'])
    df['nom_2_one']=s.fit_transform(df['nom_2'])
    df['nom_3_one']=s.fit_transform(df['nom_3'])
    df['nom_4_one']=s.fit_transform(df['nom_4'])
    df['nom_5_one']=s.fit_transform(df['nom_5'])
    df['nom_6_one']=s.fit_transform(df['nom_6'])
    df['nom_7_one']=s.fit_transform(df['nom_7'])
    df['nom_8_one']=s.fit_transform(df['nom_8'])
    df['nom_9_one']=s.fit_transform(df['nom_9'])
    df['ord_1_one']=s.fit_transform(df['ord_1'])
    df['ord_2_one']=s.fit_transform(df['ord_2'])
    df['ord_3_one']=s.fit_transform(df['ord_3'])
    df['ord_4_one']=s.fit_transform(df['ord_4'])
    df['ord_5_one']=s.fit_transform(df['ord_5'])
    df=df.drop(['bin_3','bin_4','nom_0','nom_1','nom_2','nom_3','nom_4','nom_5','nom_6','nom_7','nom_8','nom_9','ord_1','ord_2','ord_3','ord_4','ord_5'],axis=1)
    return df

In [7]:
from sklearn.preprocessing import LabelEncoder as le
#from sklearn.preprocessing import OneHotEncoder as oe
s=le()

In [6]:
#train['nom_0'].unique()
df1=encode(train)
df1.head()
df1=df1.drop(['id','target'],axis=1)
df1.head()
#print(df2.dtypes)

,bin_0,bin_1,bin_2,ord_0,day,month,bin_3_one,bin_4_one,nom_0_one,nom_1_one,...,nom_5_one,nom_6_one,nom_7_one,nom_8_one,nom_9_one,ord_1_one,ord_2_one,ord_3_one,ord_4_one,ord_5_one
0,0,0,0,2,2,2,1,1,1,5,...,78,120,491,1686,2175,2,1,7,3,136
1,0,1,0,1,7,8,1,1,1,4,...,159,510,260,650,11635,2,3,0,0,93
2,0,0,0,1,7,2,0,1,0,4,...,44,14,766,1932,8078,1,4,7,17,31
3,0,1,0,1,2,1,0,1,2,4,...,209,165,1121,629,6056,2,0,8,3,134
4,0,0,0,1,7,8,0,0,2,4,...,90,61,34,1760,8231,2,2,0,17,158

In [8]:
df2=encode(test)
df2=df2.drop(['id'],axis=1)
df2.head()

,bin_0,bin_1,bin_2,ord_0,day,month,bin_3_one,bin_4_one,nom_0_one,nom_1_one,...,nom_5_one,nom_6_one,nom_7_one,nom_8_one,nom_9_one,ord_1_one,ord_2_one,ord_3_one,ord_4_one,ord_5_one
0,0,0,1,2,5,11,1,1,0,5,...,8,320,371,1367,2789,4,5,9,15,95
1,0,0,0,1,7,5,1,0,2,2,...,151,53,79,596,1879,3,4,11,0,61
2,1,0,1,2,1,12,0,1,0,2,...,84,61,164,1570,5123,1,2,0,6,172
3,0,0,1,1,2,3,1,1,2,3,...,173,334,199,107,8365,0,4,1,16,135
4,0,1,1,3,4,11,0,0,2,4,...,197,305,751,2155,6903,2,4,11,22,157

In [9]:
from sklearn.preprocessing import OneHotEncoder 
s1=OneHotEncoder(categorical_features = [8])

df3 = s1.fit_transform(df1).toarray()

In [10]:
df4=s1.fit_transform(df2).toarray()
#df2.head()

In [11]:
labels=train['target'].values
labels

array([0, 0, 0, ..., 1, 1, 0], dtype=int64)

In [24]:
from sklearn.model_selection import train_test_split
x_train,x_val,y_train,y_val = train_test_split(df1,labels ,test_size=0.2, random_state=42)

In [10]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=1000,n_jobs=-1)
bclf = AdaBoostClassifier(base_estimator=None,n_estimators=1000)
da = bclf.fit(x_train,y_train)
l=bclf.predict(x_val)

E:\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [24]:
from sklearn.metrics import accuracy_score
accuracy_score(y_val,target_pred)

0.7235

In [11]:
from sklearn.linear_model import LogisticRegression

lg=LogisticRegression()
lg.fit(df3,labels)
o=lg.predict_proba(df4)

In [14]:
from sklearn.naive_bayes import GaussianNB
cl = GaussianNB()
cl.fit(df3,labels)
#target_pred = cl.predict(df4)
t=cl.predict_proba(df4)

In [15]:
t[:,1]
#print(df1.shape)

array([0.42687417, 0.35298877, 0.25130288, ..., 0.15257683, 0.22255851,
       0.33413364])

In [61]:
r1=[]
for i in range(len(t)):
    r1.append(max(t[i]))

In [16]:
r2=pd.Series(t[:,1],name="target")
submission = pd.concat([pd.Series(test['id'].values,name ="id"),r2],axis = 1)

submission
submission.to_csv("submission2Gaussonehot.csv",index=False)

In [23]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

bf=SelectKBest(score_func=chi2,k=10)
fit=bf.fit(df1,labels)
print(fit.scores_)
print(df1.columns)

[1.25070758e+00 1.76250149e+03 2.64093450e+01 8.37679277e+02
 8.29845200e+01 6.30745492e+03 8.08212320e+00 2.24561210e+02
 1.55442977e+03 2.11805839e+02 5.88995963e+01 3.09947128e+02
 1.05901608e+03 4.94687577e+01 6.48404411e+02 5.42921058e+02
 7.60909261e+01 3.14276133e+01 9.88632502e+02 3.34848621e+02
 1.19080392e+04 3.23702716e+04 3.07983841e+05]
Index(['bin_0', 'bin_1', 'bin_2', 'ord_0', 'day', 'month', 'bin_3_one',
       'bin_4_one', 'nom_0_one', 'nom_1_one', 'nom_2_one', 'nom_3_one',
       'nom_4_one', 'nom_5_one', 'nom_6_one', 'nom_7_one', 'nom_8_one',
       'nom_9_one', 'ord_1_one', 'ord_2_one', 'ord_3_one', 'ord_4_one',
       'ord_5_one'],
      dtype='object')

In [16]:
import keras

from keras.models import Sequential,Input,Model
from keras.layers import Dense,Dropout,Flatten
from keras.layers import Conv2D,MaxPooling2D
from keras.layers.normalization import BatchNormalization
from keras.layers.advanced_activations import LeakyReLU

Using TensorFlow backend.

In [22]:
fashion_model = Sequential()
#fashion_model.add(Conv2D(64, kernel_size=(3, 3),activation='linear',input_shape=(28,28,1),padding='same'))
#fashion_model.add(LeakyReLU(alpha=0.1))
#fashion_model.add(MaxPooling2D((2, 2),padding='same'))
#fashion_model.add(Conv2D(128, (3, 3), activation='linear',padding='same'))
#fashion_model.add(LeakyReLU(alpha=0.1))
#fashion_model.add(MaxPooling2D(pool_size=(2, 2),padding='same'))
#fashion_model.add(Conv2D(256, (3, 3), activation='linear',padding='same'))
#fan_model.add(LeakyReLU(alpha=0.1))                  
#fashion_model.add(MaxPooling2D(pool_size=(2, 2),padding='same'))
fashion_model.add(Flatten())
fashion_model.add(Dense(256, activation='linear',input_shape=(300000,23)))
fashion_model.add(LeakyReLU(alpha=0.1))                  
fashion_model.add(Dense(2, activation='softmax'))
fashion_model.compile(loss=keras.losses.categorical_crossentropy, optimizer=keras.optimizers.Adam(),metrics=['accuracy'])

WARNING:tensorflow:From E:\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [23]:
fashion_model.summary()

ValueError: This model has not yet been built. Build the model first by calling build() or calling fit() with some data. Or specify input_shape or batch_input_shape in the first layer for automatic build.

In [25]:
digit=fashion_model.fit(x_train,y_train,batch_size=64,epochs=5,validation_data=(x_val,y_val))

ValueError: Please provide as model inputs either a single array or a list of arrays. You passed: x=        bin_0  bin_1  bin_2  ord_0  day  month  bin_3_one  bin_4_one  \
254099      0      0      1      1    1      1          0          0
53461       0      1      0      1    1      9          0          0
247984      1      0      0      1    3      1          0          1
209067      0      0      0      1    4      3          1          1
185997      1      0      0      3    3     10          0          1
126147      0      0      0      2    1      2          1          0
139233      0      0      0      1    4      3          1          0
5013        0      0      1      1    7     12          0          1
44962       0      0      0      2    2      4          1          0
134537      0      1      1      2    1      2          0          1
51180       0      0      0      1    7      3          1          1
103293      0      0      1      1    1      5          1          0
47890       0      0      1      1    1     10          0          0
130216      0      0      0      2    3      3          1          1
181436      0      0      0      2    1      4          0          1
201923      0      0      0      2    3      8          0          0
283945      0      0      1      1    2      1          1          1
73348       0      0      1      1    1      3          0          1
40421       0      0      1      1    5      5          0          0
87655       0      0      0      3    3      2          1          1
90071       0      1      1      3    3     10          1          1
224513      1      0      1      2    3      9          0          1
129818      0      0      1      1    2      2          0          1
146699      0      0      0      2    3      7          1          1
235958      0      0      0      2    1      9          1          1
97918       0      0      0      1    6     10          0          1
70294       0      0      1      2    5     10          1          1
177031      0      0      1      1    1      9          1          0
144635      1      0      1      1    1     10          1          0
146158      0      0      0      1    4      4          1          1
...       ...    ...    ...    ...  ...    ...        ...        ...
123855      0      0      0      3    1      7          1          1
2747        0      0      1      1    2     12          0          1
130523      0      0      0      2    5     12          1          0
149503      0      0      0      1    2      1          1          0
156730      0      0      1      2    5      2          1          1
258795      0      0      0      1    1      8          0          1
184779      0      0      1      2    5      1          1          1
214176      0      0      1      2    2     11          0          1
235796      0      0      0      1    1      3          1          0
103355      0      0      0      2    3     11          1          0
267455      0      0      0      3    2     10          1          1
199041      0      0      0      3    1     11          0          0
252709      0      0      0      2    3     10          1          1
194027      0      0      0      2    1      3          0          0
262913      0      1      0      2    5     11          1          1
64820       0      0      1      2    2     12          0          0
41090       0      0      0      1    7      1          1          1
278167      1      0      1      2    4      5          0          0
191335      0      1      0      2    2      1          1          1
175203      0      1      0      3    4      3          0          0
87498       0      0      0      2    3     10          0          0
137337      0      0      0      1    4      1          1          0
54886       0      1      0      2    1      2          0          0
207892      0      0      1      1    7      9          0          1
110268      0      0      0      1    2      2          0          1
119879      0      0      0      1    2     11          1          0
259178      0      0      0      1    1     10          0          1
131932      0      1      0      1    2     12          1          1
146867      1      0      0      1    1     10          1          1
121958      0      1      1      1    4      3          1          1

        nom_0_one  nom_1_one    ...      nom_5_one  nom_6_one  nom_7_one  \
254099          1          2    ...             36         37        928
53461           1          4    ...             18         25        325
247984          1          4    ...             28        366       1205
209067          1          4    ...             80         30        751
185997          1          4    ...            167        169       1085
126147          1          4    ...            159        284        656
139233          2          1    ...             63        297        852
5013            2          1    ...            143        454        590
44962           1          4    ...            149        267        729
134537          1          1    ...            179        264        905
51180           0          3    ...             11        291        675
103293          2          4    ...             88        129        152
47890           0          2    ...            165         35        308
130216          1          1    ...            140        117        535
181436          0          0    ...            178        214         99
201923          0          1    ...            149        496        485
283945          1          0    ...            136        218        259
73348           1          3    ...            112         30        155
40421           1          5    ...             24        356       1007
87655           1          4    ...            166        457        811
90071           2          4    ...             67        447        405
224513          0          1    ...             83         29       1116
129818          0          2    ...             74        222       1137
146699          2          4    ...             50         12        103
235958          1          4    ...             40        215        400
97918           1          1    ...             95        497         14
70294           2          2    ...            132        458        685
177031          2          3    ...             71        323        511
144635          0          4    ...             99        392       1177
146158          1          1    ...            213        357        261
...           ...        ...    ...            ...        ...        ...
123855          1          4    ...             18        261        623
2747            2          0    ...            111         20       1007
130523          0          4    ...             89        364        707
149503          1          2    ...             49        458        474
156730          1          0    ...            219        115        412
258795          0          5    ...             95        131        932
184779          1          5    ...            116        159        786
214176          1          5    ...            141        369       1054
235796          0          1    ...            202        172        934
103355          1          4    ...            172        187        904
267455          2          5    ...             60        282        650
199041          1          4    ...            149        275        405
252709          1          3    ...            211        427        278
194027          0          2    ...            107        344        907
262913          2          4    ...             85        214        470
64820           0          5    ...             36        211         73
41090           1          2    ...             83        113        732
278167          2          0    ...             38        171        801
191335          1          0    ...            183        186       1155
175203          2          2    ...             83        107        394
87498           1          4    ...            185        414        766
137337          1          0    ...            217        254        587
54886           2          4    ...            185        320         94
207892          1          3    ...            178        389        165
110268          1          4    ...             69        469        873
119879          1          0    ...             88        338         31
259178          0          4    ...             31        257        640
131932          2          0    ...             82        419        755
146867          2          4    ...            162        312        374
121958          2          0    ...            152        511        244

        nom_8_one  nom_9_one  ord_1_one  ord_2_one  ord_3_one  ord_4_one  \
254099        757       7622          4          2         11          9
53461        1612       6575          1          2          8         22
247984        158       3957          2          1          9          8
209067       1133       9179          1          3         11         20
185997         55       1287          2          2         14         19
126147        955       2483          4          2          0         18
139233        888       3486          3          3          0          0
5013         1454       2689          4          1          7         16
44962        1076       3106          4          2          4         19
134537       1416       1225          4          4          7         17
51180        2009       9867          4          2         10          6
103293       1776       8735          4          0         10         17
47890        1295       8671          2          0          3         19
130216        699       2290          2          3          6         18
181436       2097       2498          0          0          5          6
201923       2123       3200          4          0          6         25
283945       1631       4864          0          2          8         10
73348         971        376          2          2         11          6
40421         292      11160          4          3          9          6
87655         732      10386          2          1          9         23
90071         919       1345          1          1          6          6
224513       1256      10222          4          5          1         13
129818        106      11596          0          5         11         18
146699        663       5448          3          0          5         16
235958        827       4170          4          2          8          7
97918         710       2478          4          3          4          4
70294        1758       5798          0          1          8         22
177031       1453      11688          1          2         14         15
144635       2135       9204          2          4          0         17
146158        300       3564          3          2         10         11
...           ...        ...        ...        ...        ...        ...
123855        628       8488          4          2          5         14
2747         1292        856          1          2          6          6
130523        408       7810          2          5          7         11
149503        624       9952          2          2          6         22
156730       2019       6062          2          0          6          4
258795       2167       6679          2          1          2         19
184779       1009       9889          0          1         10         16
214176        631       5345          4          2          6          7
235796       2145      10156          0          3          8         17
103355        693       3106          4          4         11         19
267455        765       7745          4          5         11         17
199041       2085       3305          1          2          7         11
252709       1535        138          2          2         11         21
194027       1700       7294          4          3         14         15
262913       1769         59          3          0          0         20
64820        1967       4632          4          2          5         11
41090         679       5989          4          2         11          9
278167       1581      10847          3          0          4         16
191335       1794      10817          2          0          9         21
175203        124       9305          3          2         10         22
87498         402       8475          4          4          6         19
137337       1985       7436          1          1         11          6
54886         830       3194          4          0         14         25
207892        569      11632          3          0          6          2
110268       1354      11363          0          2          5         18
119879       2151      10761          4          0         11         15
259178        356       5613          2          4          0         10
131932        539       5868          4          2         14         18
146867       1190       4286          2          0          1          0
121958       1355        306          2          2         11         11

        ord_5_one
254099         57
53461          89
247984         95
209067         50
185997        175
126147         60
139233         24
5013           16
44962         151
134537        163
51180         189
103293        138
47890          50
130216        120
181436        175
201923         69
283945         72
73348           6
40421          65
87655          23
90071         191
224513        109
129818         18
146699        103
235958        129
97918         191
70294         130
177031        105
144635         61
146158        103
...           ...
123855        140
2747          183
130523        127
149503         16
156730        159
258795        123
184779         58
214176         45
235796        130
103355        183
267455        160
199041         93
252709        113
194027         10
262913         70
64820         152
41090          18
278167          4
191335         67
175203         24
87498          60
137337         37
54886         111
207892         37
110268         67
119879         88
259178         77
131932         37
146867        190
121958         95

[240000 rows x 23 columns]

In [9]:
from xgboost import XGBClassifier

model=XGBClassifier()
model.fit(df1,labels)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
       subsample=1, verbosity=1)

In [11]:
q=model.predict(df2)

E:\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [28]:
labels

array([0, 0, 0, ..., 1, 1, 0], dtype=int64)

In [ ]:
from sklearn import svm

d=svm.SVC(gamma=0.001)
d.fit(df3,labels)
k=d.predict_proba(df4)